# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librer√≠a Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [1]:
import pandas as pd

def cargar_datos():
    archivo = "datos.dat"

    ancho = [10,30,10,5]

    df = pd.read_fwf(archivo, widths=ancho,header=None,
                    names = ['fecha', 'producto', 'precio', 'cantidad'],
                    skip_blank_lines=True)
    df['precio'] = df['precio'].astype(float)
    df['cantidad'] = df['cantidad'].astype(int)
    
    return df
datos = cargar_datos()
datos

         fecha    producto  precio  cantidad
0   2024-08-27     Mirinda  1510.0        14
1   2024-08-27     Mirinda  1560.0        12
2   2024-08-28     Torasso   940.0         8
3   2024-08-29  Pepsi Cola  1210.0        10
4   2024-08-30     Mirinda  1520.0         1
5   2024-09-01     Mirinda  1550.0        15
6   2024-09-01      Sprite   810.0         4
7   2024-09-02   Coca Cola  1100.0         4
8   2024-09-02  Pepsi Cola  1220.0        13
9   2024-09-02     Torasso   910.0         5
10  2024-09-02     Torasso   920.0         3
11  2024-09-03   Coca Cola  1020.0         8
12  2024-09-03     Mirinda  1570.0         7
13  2024-09-03     Mirinda  1590.0         2
14  2024-09-04  Pepsi Cola  1220.0        13
15  2024-09-05     Mirinda  1500.0         3
16  2024-09-05  Pepsi Cola  1300.0         5
17  2024-09-06   Coca Cola  1080.0         1
18  2024-09-06      Sprite   860.0        12
19  2024-09-06     Torasso   930.0         3
20  2024-09-07   Coca Cola  1080.0        14
21  2024-09-07      Sprite   870.0        13
22  2024-09-08   Coca Cola  1040.0        10
23  2024-09-08     Mirinda  1580.0         2
24  2024-09-08  Pepsi Cola  1240.0         9
25  2024-09-09     Mirinda  1500.0         3
26  2024-09-09      Sprite   850.0         9
27  2024-09-10     Mirinda  1590.0         8
28  2024-09-10  Pepsi Cola  1250.0        12
29  2024-09-11      Sprite   810.0         6
30  2024-09-11      Sprite   820.0        14
31  2024-09-12   Coca Cola  1080.0         4
32  2024-09-13     Mirinda  1580.0         5
33  2024-09-13  Pepsi Cola  1250.0        13
34  2024-09-14   Coca Cola  1080.0        15
35  2024-09-14  Pepsi Cola  1270.0        14
36  2024-09-15   Coca Cola  1100.0         1
37  2024-09-15     Mirinda  1500.0        13
38  2024-09-15      Sprite   870.0        14
39  2024-09-15     Torasso   900.0        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una funci√≥n que sume los importes vendidos (precio * cantidad) y las cantidades.

In [2]:
def calcular_totales(datos):
    total = datos['precio'] * datos['cantidad']
    totalventas = total.sum()
    cantidad = datos['cantidad'].sum()
    return totalventas, cantidad

importe, cantidad = calcular_totales(datos)

print(f"Las ventas fueron de ${importe:,.2f} en {cantidad} unidades")

Las ventas fueron de $392,730.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cu√°ntas unidades se vendieron en total para cada producto

In [3]:
def unidades_vendidas(datos):
    uvendidas= datos.groupby('producto')['cantidad'].sum()
    return uvendidas
unidades_vendidas(datos)

producto
Coca Cola     57
Mirinda       85
Pepsi Cola    89
Sprite        72
Torasso       32
Name: cantidad, dtype: int64

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [4]:
def precio_promedio(datos):
    prom= datos.groupby('producto')['precio'].sum() / datos.groupby('producto')['cantidad'].sum()
    return prom

precio_promedio(datos)

producto
Coca Cola     150.526316
Mirinda       218.235294
Pepsi Cola    111.910112
Sprite         81.805556
Torasso       143.750000
dtype: float64

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos m√°s vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [5]:
def ranking_productos(datos, top=3):
    uvendidas = datos.groupby('producto')['cantidad'].sum()
    return uvendidas.nlargest(top)
ranking_productos(datos)

producto
Pepsi Cola    89
Mirinda       85
Sprite        72
Name: cantidad, dtype: int64

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [6]:
def ventas_por_mes(datos):
    datos['fecha'] = pd.to_datetime(datos['fecha'])
    datos['mes'] = datos['fecha'].dt.month
    uxmes = datos.groupby(['producto', 'mes'])['cantidad'].sum().reset_index('mes')
    ordenado= uxmes.sort_values(by=['mes'])
    
    return ordenado


ventas_por_mes(datos)

            mes  cantidad
producto
Mirinda       8        27
Pepsi Cola    8        10
Torasso       8         8
Coca Cola     9        57
Mirinda       9        58
Pepsi Cola    9        79
Sprite        9        72
Torasso       9        24

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [7]:
def resumen_ventas(datos):
    datos['ventatotal']= datos['precio'] * datos['cantidad']
    promedio = datos.groupby('producto')['ventatotal'].sum()/datos.groupby('producto')['cantidad'].sum()
    cantidad = datos.groupby('producto')['cantidad'].sum()
    importetotal= promedio * cantidad

    informe = pd.DataFrame({
        'promedio': promedio.round(2),
        'cantidad': cantidad,
        'importetotal': importetotal
    })
    
    return informe
resumen_ventas(datos)

            promedio  cantidad  importetotal
producto
Coca Cola    1066.32        57       60780.0
Mirinda      1542.12        85      131080.0
Pepsi Cola   1241.69        89      110510.0
Sprite        847.78        72       61040.0
Torasso       916.25        32       29320.0

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una funci√≥n en Python que encuentre los valores de `a`, `b`, y `c` para que la funci√≥n cuadr√°tica `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La funci√≥n debe explorar posibles valores de `a`, `b`, y `c` utilizando un m√©todo de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la funci√≥n `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son n√∫meros peque√±os.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [8]:
import numpy as np
def f(x, coeficientes):
    a,b,c = coeficientes
    return a*x**2 + b*x + c

def error(y, y_pred):
    return y - y_pred

X = np.array([0,1,2,3,5])
Y = np.array([0,8,12,12,0])

def buscar_coeficientes():
    mejor_error = float('inf')  # Inicia con un error muy grande
    mejores_coeficientes = None

    for a in range(-11, 11):
        for b in range(-11, 11):
            for c in range(-11, 11):
                errores = []
                for x, y in zip(X, Y): 
                    y_pred = f(x, [a, b, c])
                    errores.append(error(y, y_pred))

                error_cuadratico = np.mean(np.square(errores))
                
                if error_cuadratico < mejor_error:
                    mejor_error = error_cuadratico
                    mejores_coeficientes = (a, b, c)

    return mejores_coeficientes


coeficientes = buscar_coeficientes()
coeficientes

(-2, 10, 0)

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la funci√≥n que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la funci√≥n.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la funci√≥n y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agreg√°ndoles un peque√±o valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [121]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8, 12, 11, 1])

def buscar_coeficientes():
    coeficientes = randint(-10, 10, 3) 
    e_actual = error(Y, f(X, coeficientes))  

    aprendizaje = 0.001

    while e_actual > 1:  
        nuevos_coeficientes = coeficientes + np.random.uniform(-aprendizaje, aprendizaje, 3)  
        e_nuevo = error(Y, f(X, nuevos_coeficientes)) 

        if e_nuevo < e_actual: 
            coeficientes = nuevos_coeficientes 
            e_actual = e_nuevo 

    return coeficientes

coeficientes = buscar_coeficientes()
coeficientes

Los coeficientes son [-1.781  8.961  0.615] y el error es 0.9958049999998968

array([-1.781,  8.961,  0.615])